@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 2.5px;
    height:0.35rem;
}
 
::-webkit-scrollbar-track {
    background: black;
}
 
::-webkit-scrollbar-thumb {
    background: #cc0000;
}
 
::-webkit-scrollbar-thumb:hover {
    background: #ff0000;
    cursor :pointer;
}