@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 0.15rem;
    height:0.35rem;
}
 
::-webkit-scrollbar-track {
    background: black;
}
 
::-webkit-scrollbar-thumb {
    background:  #e01010;
}
 
::-webkit-scrollbar-thumb:hover {
    background: #cc0000;
    cursor : pointer;
}